@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@100;300;400;700;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}

@theme {
  --color-primary: oklch(75.85% 0.1356 182.34);
  --color-secondary: oklch(70.4% 0.1657 241.71);
  --color-accent: oklch(65.14% 0.2207 6.17);
  --accent-primary: oklch(75.85% 0.1356 182.34);
  --color-muted: 0 0% 96.1%;
  --bg-card: 0 0% 100%;
}

@layer base {
  :root {
    --background: 213 100% 98%; /* Светлый фон */
    --foreground: 0 0% 3.9%; /* Темный текст */

    --card: 0 0% 100%; /* Белые карточки */
    --card-foreground: 0 0% 3.9%; /* Темный текст */

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 174 100% 40%; /* Неоновый зеленый */
    --primary-foreground: 0 0% 98%;

    --secondary: 200 98% 50%; /* Неоновый голубой */
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 340 90% 60%; /* Ярко-розовый */
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 90% 40%;
    --input: 220 90% 50%;

    --ring: 174 100% 40%; /* Свечение зелёного цвета */

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 3.9%;

    --sidebar-primary: 174 100% 40%;
    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 340 90% 60%;
    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 216 16% 6%;
    --foreground: 0 0% 98%; /* Белый текст */

    --card: 240 40% 10%; /* Темные карточки */
    --card-foreground: 0 0% 98%;

    --popover: 240 40% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 174 100% 50%; /* Неоновый зеленый */
    --primary-foreground: 0 0% 9%;

    --secondary: 200 98% 60%; /* Голубой неон */
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 340 100% 65%; /* Ярко-розовый */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 90% 50%; /* Ярко-голубая обводка */
    --input: 220 90% 60%; /* Электрический синий */

    --ring: 174 100% 50%; /* Неоновое свечение зеленого */

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 174 100% 40%;
    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 340 90% 55%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 200 90% 50%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

* {
  font-family: var(--font-lato), sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html,
  body {
    @apply h-full max-h-full;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-[#111111] dark:text-white;
  }
  p {
    @apply text-[#222222] dark:text-[#E0E6ED];
  }
}

.editor > ol {
  list-style-type: decimal;
}

.editor > ul {
  list-style-type: disc;
}

.editor > ul,
ol {
  padding: 0 1rem;
  margin: 0.2rem 1rem;
}
